.dialogs {
    display: inline-grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: max-content;
    background-color: cornflowerblue;
    padding: 20px;
}

.companion {
    text-decoration: none;
    color: white;
}

.companionActive {
    text-decoration: none;
    color: red;
}

.messages, .companions {
    display: grid;
    align-content: center;
    grid-gap: 14px;
}

.companion img {
    width: 20px;
    height: 20px;
}